@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2 class="text-center">Welcome to <span>Ava Mina </span> Site</h2>
                        <p>"If anyone serves me, let him follow me, and where I am, there also my servant will be. And if anyone serves me, the Father will honor him."</p>
                        <p class="text-center">( John 12 : 26 )</p>
                        <div class="text-center"><a asp-area="Identity" asp-page="/Account/Login" class="btn-get-started">Login Now</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->