@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <li><a asp-controller="Post" asp-action="Posts">Wall</a></li>
        <li><a asp-controller="People" asp-action="People">Class</a></li>
        <li><a asp-controller="People" asp-action="DOB">DOB</a></li>
        <li><a asp-controller="Lesson" asp-action="Lessons">Lessons</a></li>
        <li><a asp-controller="Event" asp-action="EventAttendance">Attendance</a></li>  

        @if (UserManager.GetUserAsync(User).Result.ProfilePic != null)
        {
            <li>
                <img class="maro" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePic))" />
            </li>
        }else{
            <li>
                <img class="maro" alt="Profile" src="~/img/Default_Photo.png" />
            </li>
        }
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
