@model AvaMina.Models.Post

@{
    ViewData["Title"] = "DeletePost";
}

<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

        <div class="title-page text-white text-center mt-4" data-aos="fade-up">
            <h2><strong>Delete Post</strong></h2>
            <h3>Are you sure you want to delete this Post ?</h3>
        </div>
        <div class="row">
            <div class="member" data-aos="fade-up">
                <div class="item" style="direction:rtl">
                    <div class="card">
                        <h3 class="card-header text-center">
                            @Html.DisplayFor(model => model.Title)
                        </h3>
                        <div class="card-body">
                            <h4 class="card-title">العنوان</h4>
                            <p class="card-text fs-4">
                                @Html.DisplayFor(model => model.Title)
                            </p>
                            <h4 class="card-title">الموضوع </h4>
                            <p class="card-text fs-4">
                                @Html.DisplayFor(model => model.Content)
                            </p>
                        </div>
                        <div class="card-footer mt-2">
                            <form asp-controller="Post" asp-action="DeletePost" method="post">
                                <a asp-controller="Post" asp-action="Posts" class="btn btn btn-outline-success">Back to List</a>
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Our Team Section -->
